@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&display=swap');

body{
  background: #0D1A2D;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

::selection {
  color: #4a58e9;
  background: grey;
}

section {
  height: 100vh;
}

.intro-text{
  position: absolute;
  top: 35%;
  left: 15%;
}

.intro-text h3{
  color: lightgray;
  transition: visibility 0s, opacity 0.3s linear;
}

#typed{
  font-size: 4em;
}

.typed-cursor {
  display: none;
}

.hidden{
  opacity: 0;
}

#about{
  background: linear-gradient(180deg, #1E2D44 0%, #203149 100%);
  display: flex;
}

.section-title{
  font-size: 3em;
  width: max-content;
  border-bottom: 5px solid #3BFFD7;
}

#about-text{
  padding: 50px;
  width: 50%;
  position: relative;
}

#heyguesswhatitschan{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  object-fit: cover;
  height: 75vh;
  margin: auto;
  border: 5px solid white;
  border-radius: 10px;
}

/* Career */

.career-content{
  padding: 40px 70px;
}

.company{
  display: flex;
  align-items: center;
  margin: 60px 0;
  padding: 5px;
  border-radius: 25px;
}

.company:hover {
  background-color: rgb(43, 43, 43);
  box-shadow: 5px 10px 18px #111111;
}

.company img{
  margin-right: 40px;
  margin-left: 10px;
  border-radius: 5px;
  height: 10%;
}

.company img:hover {
  box-shadow: 1px 2px 5px #5a5a5a;
}

/* Contact */

#contact{
  background-color: #1e2d44;
  position: relative;

}

.contact-info{
  padding: 50px;
  width: 60%;
  z-index: 2;
}

.contact-info p {
  line-height: 30px;
}

.contact-links{
  display: flex;
}

.display-mobile{
  display: none;
}

/* Waves */

.header-waves {
  position:relative;
  background:  linear-gradient(180deg, #1E2D44 0%, #203149 100%);
  color:white;
}

.inner-header {
  height: 85vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.waves {
  position:relative;
  width: 100%;
  height:20vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }

}

/* Mobile */

@media(max-width: 800px){

  #pong-game, .hide-mobile{
    display: none;
  }

  .display-mobile{
    display: block;
  }

  .quote{
    font-size: 1em;
    padding-right: 20px;
  }

  .career-content{
    padding: 40px;
  }

  img{
    display: none;
  }

  #about-text{
    width: 100%;
  }

  #about{
    height: auto;
  }

  #typed {
    font-size: 3em;
  }

  .background{
    height: auto !important;
  }
}

a.project-title {
  text-decoration: none !important;
  color: white !important;
}

a.neon-button{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  color: #3BFFD7;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

@media(max-width: 680px){
  #typed{
   font-size: 2.5em;
  }
}

/* Contact Button Animation */
@media(min-width: 800px){
  a.neon-buton:hover{
    color: white;
    background: #3BFFD7;
    box-shadow: 0 0 10px #3BFFD7, 0 0 40px #3BFFD7, 0 0 80px #3BFFD7;
    transition-delay: 1s;
  }
  a span{
    position: absolute;
    display: block;
  }
  a span:nth-child(1)  {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#3BFFD7);
  }
  a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }
  a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#3BFFD7);
  }
  a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#3BFFD7);
  }
  a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#3BFFD7);
  }
  a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
}

@media(max-width: 680px){
   #typed{
    font-size: 2.5em;
   }
}