@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100&display=swap');

body{
  background: #0D1A2D;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

::selection {
  color: #23CE6B;
  background: grey;
}

section {
  height: 100vh;
}

.intro-text{
  position: absolute;
  top: 35%;
  left: 15%;
}

.intro-text h3{
  color: lightgray;
  transition: visibility 0s, opacity 0.3s linear;
}

#typed{
  font-size: 4em;
}

.typed-cursor {
  display: none;
}

.hidden{
  opacity: 0;
}

#about{
  background-color: #1e2d44;
  display: flex;
}

.section-title{
  font-size: 3em;
  width: max-content;
}

.title-blue{
  color:  #236dce;
  border-bottom: 5px solid #236dce;
}

.title-white{
  color: white;
  border-bottom: 3px solid white;
}

#about-text{
  padding: 50px;
  width: 50%;
  position: relative;
}

#heyguesswhatitschan{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  object-fit: cover;
  height: 75vh;
  margin: auto;
  border: 5px solid white;
  border-radius: 10px;
}

/* Career */

.career-content{
  padding: 40px 70px;
}

.company{
  display: flex;
  align-items: center;
  margin: 60px 0;
  padding: 5px;
  border-radius: 25px;
}

.company:hover {
  background-color: rgb(43, 43, 43);
  box-shadow: 5px 10px 18px #111111;
}

.company img{
  margin-right: 40px;
  margin-left: 10px;
  border-radius: 5px;
  height: 10%;
}

.company img:hover {
  box-shadow: 1px 2px 5px #5a5a5a;
}

/* Contact */

#contact{
  display: flex;
  background-color: black;
  position: relative;

}

.contact-info{
  padding: 50px;
  width: 60%;
  z-index: 2;
}

.contact-info p {
  line-height: 30px;
}

.contact-links{
  display: flex;
}

.display-mobile{
  display: none;
}

/* Game */

#game{
  position: absolute;
}

#clickgame{
  color: #2d81f0;
  cursor: pointer;
  border-bottom: 1px solid #2d81f0;
}


/* Mobile */

@media(max-width: 800px){

  #pong-game, .hide-mobile{
    display: none;
  }

  .display-mobile{
    display: block;
  }

  .quote{
    font-size: 1em;
    padding-right: 20px;
  }

  .career-content{
    padding: 40px;
  }

  img{
    display: none;
  }

  #about-text{
    width: 100%;
  }

  #about{
    height: auto;
  }

  #typed {
    font-size: 3em;
  }

  .background{
    height: auto !important;
  }
}

a.project-title {
  text-decoration: none !important;
  color: white !important;
}

a.neon-button{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  color: #236dce;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

@media(max-width: 680px){
  #typed{
   font-size: 2.5em;
  }
}

/* Contact Button Animation */
@media(min-width: 800px){
  a.neon-buton:hover{
    color: white;
    background: #236dce;
    box-shadow: 0 0 10px #236dce, 0 0 40px #236dce, 0 0 80px #236dce;
    transition-delay: 1s;
  }
  a span{
    position: absolute;
    display: block;
  }
  a span:nth-child(1)  {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#236dce);
  }
  a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }
  a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#236dce);
  }
  a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#236dce);
  }
  a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#236dce);
  }
  a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
}

@media(max-width: 680px){
   #typed{
    font-size: 2.5em;
   }
}